section.section.login
    .float-square.float-square_login
        .login__content
            h1.title.about__title_pos
            form(id="login-form", action="php/action.php", method="post", enctype="multipart/form-data")
                label.input-block
                input(type="text", name="name", placeholder="Логин").input-area
                label.input-block
                input(type="password", name="password", placeholder="Пароль").input-area

