.slider
    .headline__section
        .headline__text
            .sub__title
                h2.about__title.subtitle САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ
            .headline__topics HTML, CSS, JAVASCRIPT
            a(href="#").headline__btn
                svg.btn__link
                    use(xlink:href="./assets/img/sprite.svg#link")
                | Посмотреть
    .slider__section
        img(src="./assets/img/slide_1.png", alt="").slider__section_pic
    .thumbnail__section
        .thumbnail__section_left
            .thumbnail__section_left_bg
                .move-down-arrow
                    svg.move-down-arrow__body
                        use(xlink:href="./assets/img/sprite.svg#arrow_down")
        .thumbnail__section_right
            .thumbnail__section_right_bg
                .move-up-arrow
                    svg.move-up-arrow__body
                        use(xlink:href="./assets/img/sprite.svg#arrow_down")

