.hamburger
    .hamburger__menu
        ul.menu__items
            li.menu__item
                a.menu__link На главную
            li.menu__item
                a.menu__link Обо мне
            li.menu__item
                a.menu__link Мои работы
            li.menu__item
                a.menu__link Блог

