.hamburger
    .hamburger__line.hamburger__line_one
    .hamburger__line.hamburger__line_two
    .hamburger__line.hamburger__line_three
//.hamburger__menu
//    ul.menu__items
//        li.menu__item
//            a(href="index.html", ttle="").menu__link На главную
//        li.menu__item
//            a(href="about.html", ttle="").menu__link Обо мне
//        li.menu__item
//            a(href="works.html", ttle="").menu__link Мои работы
//        li.menu__item
//            a(href="blog.html", ttle="").menu__link Блог

