ul.blog__menu
    li.blog__menu_item
        a(href="#", title="") Самое важное в SASS
    li.blog__menu_item
        a(href="#", title="") Приёмы в вёрстке, без которых не обходится ни один сайт
    li.blog__menu_item
        a(href="#", title="") Самый необходимый набор Gulp плагинов
    li.blog__menu_item
        a(href="#", title="") Почему я выбрал Jade

