.blog__menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 25%;
  padding: 20px 90px 0 0;
  text-align: right;
}

.blog__menu_item {
  padding: 15px 20px;
  vertical-align: middle;

  &:nth-child(1) {
    border-right: 4px solid $orange;
    margin-right: -4px;
  }
}

.blog__menu_item a {
  color: $gray;
}