.hamburger {
  z-index: 99;
  height: 28px;
  width: 35px;
  position: relative;
  transition: .5s;

  //&:before {
  //  display: block;
  //  content: "";
  //  height: 4px;
  //  width: 35px;
  //  border-radius: 3px;
  //  background-color: #fff;
  //  margin-top: 10px;
  //}
  //
  //&:after {
  //  display: block;
  //  content: "";
  //  height: 4px;
  //  width: 35px;
  //  border-radius: 3px;
  //  background-color: #fff;
  //  margin-top: 6px;
  //}
  &__line {
    position: absolute;
    height: 4px;
    width: 35px;
    border-radius: 3px;
    background-color: #fff;
    z-index: 9999;
    transition: .5s;

    &__one {
      bottom: 100%;
    }

    &_two {
      top: 50%;
      transform: translateY(-50%);
    }

    &_three {
      top: 100%;
      margin-top: -4px;
    }
  }

  &:hover {

    & .hamburger__line {
      &_one {
        position: absolute;
        transform: rotate(45deg);
        top: 83%;
      }
      &_two {
        position: absolute;
        display: none;
      }
      &_three {
        position: absolute;
        transform: rotate(-45deg);
        bottom: 83%;
      }
    }
  }

  &:hover {
    .hamburger__menu {
      display: block;
    }
  }
}

.hamburger__menu {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($orange, .8);
  z-index: 999;
  display: block;
  position: fixed;
}

.menu__items {
  @include centrize;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 63px;
  color: #ffffff;
}

.menu__link {
  font-weight: bold;
  & .title {
    color: #ffffff;
  }
}

.menu__item {
  padding: 10px;

  &:first-child {
    padding-top: 0;
  }
}

