.hamburger {
  height: 4px;
  width: 35px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  transition: 0.3s;

  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 35px;
    border-radius: 3px;
    background-color: #fff;
    top: -10px;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 35px;
    border-radius: 3px;
    background-color: #fff;
    top: 10px;
  }

  &:hover {
    opacity: .7;
  }
}

.hamburger__menu {
  height: 300px;
  width: 300px;
  background-color: rgba(#ffffff, .5);
  margin-left: -235px;
  margin-top: -42px;
  display: none;

  &:hover {
    display: block;
  }
}

