.hamburger {

  &__line {
    height: 4px;
    width: 35px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    transition: 0.3s;
    z-index: 9999;

    &_one {
      position: absolute;
      top: 30px;
    }

    &_two {
      position: relative;
    }

    &_three {
      position: absolute;
      top: 54px;
    }
  }

  &:hover {
    .hamburger__menu {
      display: block;
    }
  }
}

.hamburger__menu {
  width: 250px;
  background-color: rgba(#000, .2);
  margin-left: -185px;
  margin-top: -56px;
  padding: 26px 20px;
  z-index: 0;
  display: none;
  border-radius: 0 0 0 5px;
  position: absolute;
}

.menu__items {
  margin-top: 10px;
}

.menu__link {
  font-weight: bold;
}

.menu__item {
  padding: 10px;

  &:first-child {
    padding-top: 0;
  }
}

