.map {
  position: relative;
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include iphones {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.yandex-map {
  position: static;
  height: 900px;
  width: 100%;
  z-index: -1;

  @incclude iphones {
    position: static;
  }
}