.map {
  position: relative;
  height: 900px;
  width: 100%;
  background: url('../img/map.jpg') no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}