.title {
  font-size: 63px;
  color: $black;
  position: relative;
  line-height: 60px;
  z-index: 99;

  &:before, &:after {
    display: block;
    position: absolute;
    top: -5px;
  }

  &:after {
    content: url('../img/decor/ellipse-big-left.svg');
    left: 0;
  }

  &:before {
    content: url('../img/decor/ellipse-big-right.svg');
    right: 0;
  }
}

.subtitle {
  font-size: 35px;
  color: $gray;
  display: inline-block;
  position: relative;

  &:after {
    display: block;
    content: url('../img/decor/ellipse-small-left.svg');
    position: absolute;
    top: -5px;
    left: -30px;
  }

  &:before {
    display: block;
    content: url('../img/decor/ellipse-small-right.svg');
    position: absolute;
    top: -5px;
    right: -30px;
  }
}

.title__bg {
  fill: $orange;
  position: absolute;
  margin: 0 auto;
  z-index: 0;
  opacity: .07;
}