.triangal {
  position: absolute;
  bottom: 100%;
  width: 100%;

  @include tablets {
    width: 50%;
  }

  &_fill {
    &_white {
      fill: #efeee9;
    }

    &_about {
      position: absolute;
      &_left {
        fill: #EFEEE9 !important;
      }

      &_right {
        fill: #eeebdf !important;

        @include tablets {
          width: 50%;
          fill: #efeee9 !important;
        }
      }
    }

    &_work {
      fill: #faf8f0;
      &_left {
        bottom: 0;
        width: 50%;
      }

      &_right {
        bottom: 0;
        width: 50%;
        right: 0;
      }
    }
  }
}