extends ../_template

block variables
    - var title = 'Блог'

block content
    section.section.hero
        include ../common/_header
        .blog-headline
            .user__pic(style="background-image: url('assets/img/user.jpg');")
            h1.title.blog__title_pos Блог
    svg.triangal.triangal_fill_white
    svg.triangal.triangal_fill_white
    include ../sections/_sidebar
    include ../sections/_blog

