extends ../_template

block variables
  - var title = 'Главная страница'

block content
  include ../sections/_welcome
  include ../sections/_login
  .copyright © Владимир Астахов | создано с любовью в LoftSchool | 2016
  .auth-btn Авторизоваться


